body {
  background-color: #fefaf1;
  color: #0a0a0a;
  font-family: system-ui, -apple-system, sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  line-height: 1.6;
}

h1, h2, h3 {
  color: #234a27;
}

nav {
  margin-bottom: 2rem;
}

nav a {
  color: #24415c;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
    color: #2cc93c;
}

footer {
  margin-top: 4rem;
  color: #666;
  font-size: 0.9rem;
}
